services:
  postgres:
    image: postgres:16.3
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:  
      test: ["CMD", "pg_isready", "-U", "postgres"]  
      interval: 30s  
      timeout: 10s  
      retries: 5  


  migrate:
    image: mcr.microsoft.com/dotnet/sdk:8.0
    depends_on:
      postgres:
        condition: service_healthy
    working_dir: /app
    volumes:
      - .:/app
    environment:
      ConnectionStrings__DefaultConnection: Host=postgres;Database=postgres;Username=postgres;Password=postgres;
    command: >
      bash -c "dotnet tool install --global dotnet-ef &&
               export PATH=\"$PATH:/root/.dotnet/tools\" &&
               dotnet ef database update --project RelationshipAnalysis/RelationshipAnalysis.csproj"

  build:
    build: .
    depends_on:
      migrate:
        condition: service_completed_successfully
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: Host=postgres;Database=postgres;Username=postgres;Password=postgres;
    ports:
      - "8085:80"

volumes:
  pgdata: